@import '~antd/dist/antd.css';

.layout {
  background-color: #ffffff;
}

.container {
  width: 100%;
  padding: 140px 0 100px 0;
  margin-right: auto;
  margin-left: auto;
}

.main-header {
  position: fixed; 
  z-index: 1; 
  width: 100%; 
  background-color: #ffffff;
}

.sort-wrapper {
  margin-bottom: 2rem;
}

.sort-wrapper .sort-radio {
  margin-bottom: 1rem;
}

.make-filter, .price-filter, .year-filter {
  margin-bottom: 2rem;
}

.make-filter .checkbox-item {
  margin-bottom: .5rem;
}

.vehicle-wrapper {
  margin-bottom: 3rem;
}

.vehicle-wrapper .ant-card-cover img {
  height: 200px;
  object-fit: cover;
}

.vehicle-image-wrapper img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.vehicle-details-wrapper {
  margin-bottom: 2rem;
}

.vehicle-details-wrapper form {
  margin-top: 2rem;
}

.input-wrapper {
  margin-bottom: 1rem;
  width: 300px;
}

.pagination {
  margin-bottom: 2rem;
}

.ant-btn {
  margin-bottom: 1rem;
}

@media (max-width: 767.98px) { 
  .vehicle-image-wrapper img {
    height: 300px;
  }
  .vehicle-details-wrapper {
    /* padding: 2rem 0; */
  }
}